.header
  background-color: yl
  nav.uk-navbar-container
    background-color: yl
  .uk-navbar-center
    .uk-navbar-nav>li>a
      color: bk
      text-transform: none
      font-size: 18px
      font-weight: 500
      &:hover
        color: wt
  .uk-navbar-right
    .uk-navbar-nav>li:first-child>a
      background-color: gn
      color: wt
      min-height 40px
      border-radius: 50px
      margin: 30px 30px 30px 0
      padding: 0 20px
      text-transform: none
      &:hover
        background-color: gnh

    .uk-navbar-nav>li:last-child>a
      background-color: gn
      color: wt
      min-height 100px
      text-transform: none
      padding: 0 30px
      &:hover
        background-color: gnh
  .mobile-header-controll
    display: none
.uk-offcanvas-bar
  background-color: gn
  ul.uk-nav.uk-nav-default
    li
      a
        color: #fff

