@media screen and (max-width: 1230px)
  .header
    padding: 10px 0
  .header .uk-navbar-right .uk-navbar-nav:nth-child(1)
    display: none
  .header .uk-navbar-right .uk-navbar-nav:nth-child(2) li:last-child>a
    margin: 0
    min-height: 40px
  .header .uk-navbar-right .uk-navbar-nav:nth-child(2)
    display: block
  .header .uk-navbar-center
    display: none


@media screen and (max-width: 640px)
  .header
    .uk-navbar-left
      img
        width: 200px
  .index-banner .block-pos
    padding: 20px
